<!-- {{novenyek|json}} -->

<h1 class="display-1 my-3 pb-5">Disznövények</h1>

<div class="form-floating mb-3">
    <input [(ngModel)]="szo" type="text" class="form-control" id="floatingInput">
    <label for="floatingInput">Keresés:</label>
</div>

<div class="row g-4">
    <div *ngFor="let noveny of novenyek|filter:szo" class=" col-12 col-md-6 col-lg-4 col-xl-3">

        <div class="card h-100">
            <img [src]="noveny.kepUrl" class="card-img-top" [alt]="noveny.megnevezes">
            <div class="card-body">
              <h5 class="card-title">{{noveny.megnevezes}}</h5>
              <p class="card-text">
                {{noveny.leiras}}
              </p>
            </div>
            <button (click)="torol(noveny)" type="button" class="btn btn-primary my-3">Töröl</button>
            <button (click)="modosit(noveny)" type="button" class="btn btn-primary my-3">Módosít</button>
            <div class="card-footer" [ngClass]="!megrendeltE(noveny.key)?'':'bg-succes'">
              <small class="text-muted"><p>{{noveny.ar}} Ft</p>>
                <form class="form-floating">
                  <div class="row">
                    <div class="col-4">
                      <input #db type="number" class="form-control" id="db" placeholder="1" value="1" min="0">
                    </div>
                    <div class="col-8 text-center">
                      <button (click)="rendelTetel(noveny,db.value)" type="button" class="btn btn-outline-danger">{{megrendeltE(noveny.key)?'Megremndelem':"Modosítom"}}</button>
                    </div>
                  </div>
                </form>
              </small>
            </div>
          </div>


    </div>
</div>