<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Megrendelem</h5>
      <button type="button" onclick="dupla()">Megrendelem</button>
      <p class="card-text">Termek leírasa.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Név</li>
      <li class="list-group-item">Email</li>
      <li class="list-group-item">Szállítási cím</li>
      <li class="list-group-item">Telefonszám</li>
    </ul>
  </div>